
<!--
<h1>Saída Final:</h1>
<h2>Junção da chamada Toplist by 24H Volume Full Data com Multiple Symbols Price </h2>
-->
<p><%= @cryptocoin %> </p>

<!--
<% @cryptocoin.each do |item| %>
    <div><%= item%></div>
<% end %>
-->